body {
    font-family: monospace;
    font-size: 16px;
    background-color: #696d7d;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: justify;
    font-size: 1,65em;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: #552485;
}

.roundedBorder {
    border-radius: 30% 45%;
}

.textMargin {
    margin: 100px 0px;
}